<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/tx
https://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/aop
https://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- Configuration of Dependent Bean -->
	<bean id="dt" class="java.util.Date" />

	<!-- Configuration of main/target bean -->
	<bean id="wish" class="com.sumitaccess007.beans.WishMessageGenerator">
	
	<!-- Asking IOC container (Spring container) to perform setter injection on date -->
	<!-- property of Main bean to inject Date class object -->
	<property name="date" ref="dt" />
	</bean> 

</beans>